body{
  font-family: optima;
  background: whitesmoke;
}
button{
  font-family: calibri;
  float: right;
  border-radius: 15px;
  background-color: skyblue;
  height: 40px;
}
h1{
  font-size: 60px;
}
h2{
  color: darkred;
  font-size: 40px;
}
h3{
  color: darkred;
  font-size: 40px;
}
h4{
  color: darkred;
  font-size: 40px;
}
.header{
  background-color: grey;
  margin: 10px;
  border: solid black;
  padding: 50px;
  border-radius: 15px;
}
.job{
  color: darkred;
}
img{
  border: solid black;
  border-radius: 15px;
}
.contact{
  margin-top: 40px;
}
.container{
  background-color: lightgrey;
  padding: 80px;
  border: solid black;
}
.phone{
  color:darkred;
}
.email{
  color:darkred;
}