body{
  font-family: optima;
}
h2{
  color: darkred;
  font-size: 40px;
}
h3{
  color: darkred;
  font-size: 40px;
}
h4{
  color: darkred;
  font-size: 40px;
}
.header{
  background-color: grey;
  margin: 20px;
  border: solid black;
  padding: 30px;
}
.job{
  color: darkred;
}